<?xml version="1.0"?>

<model>
  <name>vestas_v52_rotation</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Magnus Aagaard</name>
    <email>jaaag17@student.sdu.dk</email>
  </author>

  <description>
    Test model of a Vestas V52 that can rotate the wings
  </description>
</model>
